<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="user-info-container mt-3">
          <div class="mb-3">
            <h3>Create a new user</h3>
          </div>
          <form method="POST" action="/users/create-user">
            <div class="col-sm-12 col-lg-6 mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="col-sm-12 col-lg-6"></div>
            <div class="col-sm-12 col-lg-6 mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                required
                name="password"
              />
            </div>
            <div class="col-sm-12 col-lg-6"></div>
            <div class="col-sm-12 col-lg-6 mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                required
                name="username"
              />
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

        <div class="table-users mt-3">
          <h3>Table Users</h3>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% listUsers.forEach(function(item,index){ %>
              <!-- <div class="abc"><%= JSON.stringify(item) %></div> -->

              <tr>
                <th scope="row"><%= (item.id) %></th>
                <td><%= (item.username) %></td>
                <td><%= (item.email) %></td>
                <td>
                  <button class="btn btn-primary">Edit</button>
                  <form
                    action="/delete-user/<%= item.id %>"
                    method="POST"
                    style="display: inline"
                  >
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </td>
              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
